body {
  font: 11px/13px sans-serif;
}

body * {
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

textarea, input[type=text], input[type=number]  {
  padding: 6px;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 12px;
  display: inline-block;
  height: 28px;
}

button {
  position: relative;
  top: 1px;
  font-size: 15px;
  padding: 4px 10px;
  border-radius: 5px;
  background: #EEE;
  display: inline-block;
  height: 28px;
}

.with-button input[type=text] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -4px;
}

.with-button button {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#message {
  padding: 10px;
  border-radius: 5px;
  background-color: #EEE;
  font: 16px/20px sans-serif;
}

.panels {
  display: flex;
}

.panel {
  width: 50%;
}
dt {
  font-weight: bold;
  margin-top: 10px;
}
dl, dd {
  margin: 0;
}

